.boxStyle {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 3px solid white;
  /* makes X's and O's bigger */
  cursor: pointer;
  width: 63px;
  height: 60px;
  justify-self: center;
  align-self: center;
}

img {
  border: 3px solid rgba(255, 255, 255, 0.9);
  width: 63px;
  height: 60px;
  justify-self: center;
  align-self: center;
}

@media (min-width: 768px) {
  .boxStyle {
    width: 90px;
    height: 90px;
  }
  img {
    width: 90px;
    height: 90px;
  }
}

@media (min-width: 1024px) {
  .boxStyle {
    width: 90px;
    height: 90px;
  }
  img {
    width: 90px;
    height: 90px;
  }
}

@media (min-width: 1440px) {
  .boxStyle {
    width: 130px;
    height: 130px;
  }
  img {
    width: 130px;
    height: 130px;
  }
}
