body {
  background-color: black;
  padding-bottom: 4%;
  /* overflow: hidden; */
}
.Logout {
  align-items: left;
  justify-content: left;
  float: top;
  border-radius: 4px;
  background-color: white;
  margin: 0px auto;
  margin-left: 1%;
  border: 4px solid #fbb040;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.25px;
  color: black;
  padding: 8.5px;
}

.Logout:link {
  text-decoration: none;
}

.welcomeMessage p {
  position: absolute;
  color: rgb(255, 255, 255);
  /* I know, hilarious */
  top: -10px;
  right: 10px;
  border: 2px solid #00b0ad;
  width: 90px;
  height: 50px;
  padding-left: 3px;
  text-align: center;
}

.GameTitle {
  color: white;
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-size: 50px;
  color: #fbb040;
  margin-top: -125px;
}

/* @media (min-width: 768px) {
  .GameTitle {
    margin-top: -3%;
  }
} */
.GameTitle p {
  text-shadow: 3px 3px #00b0ad;
}

.Themes {
  background-color: #000000;
  margin-top: 10px;
  min-width: 70%;
  max-width: 90%;
  height: 170px;
  display: flex;
  flex-wrap: wrap;
  /* opacity: 90%; */
  margin: 0 auto;
  border-radius: 5px;
  justify-content: space-around;
  border: 5px solid #00b0ad;
}

@media (min-width: 697px) {
  .Themes {
    height: 90px;
  }
  .f {
    height: 50px;
  }

  .GameTitle {
    margin-top: -180px;
  }
}

.f {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  font-size: 1em;
  line-height: 2px;
  font-weight: bold;
  letter-spacing: 0.25px;
  color: black;
  border-radius: 10px;
  margin-left: -2px;
  box-shadow: 5px 10px #fbb040;
  cursor: pointer;
}
.message {
  text-align: center;
  background-color: #fbb040;
  width: 20%;
  height: 20px;
  margin-left: 30%;
  border-radius: 5px;
}

.ThemeName {
  width: 90%;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  border: 5px solid #00b0ad;
  margin: 0 auto;
  margin-top: 1%;
}

.ThemeName p:nth-child(1) {
  margin-top: -3px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 1em;
}

.ThemeName p:nth-child(2) {
  font-weight: 700;
  font-size: 0.8em;
}

@media (max-width: 441px) {
  .GameTitle {
    margin-top: -30%;
  }
}
