.boardPos {
  justify-content: center;
  background-color: #00b0ad;
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(4, 0.1fr) / repeat(4, 0.02fr);
  padding: 4%;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .boardPos {
    width: 93%;
    padding: 4%;
    border-radius: 5px;
  }
}
@media (min-width: 1024px) {
  .boardPos {
    width: 40%;
    height: 400px;
    padding: 4%;
    border-radius: 5px;
  }
}

@media (min-width: 1440px) {
  .boardPos {
    width: 35%;
    height: 550px;
    padding: 4%;
    border-radius: 5px;
  }
}
