.boardPos {
  background-color: #00b0ad;
  width: 84%;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  /* this style thing adjusts the sizing between the squares */
  

  padding: 4%;
  border-radius: 5px;
}
