.bigone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
  transform: scale(1.2);
}
.GameTitle p {
  margin-top: 200px;
  color: white;
  justify-content: center;
  font-weight: 900;
  font-size: 50px;
  color: #fbb040;
}
.logintitle {
  /* margin-top: 10px; */
  border-radius: 5px;
  height: 75px;
  width: 450px;
  background-color: #fab140;
  font-size: 20px;
}

.title {
  border-radius: 5px;
  text-align: center;
  margin-top: -1px;
}
/* 465 */
.login {
  border-radius: 5px;
  text-align: center;
  margin-left: 2px;
  width: 300px;
  height: 460px;
  background-color: #00b0ad;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 25px;
}
.btnlog {
  align-items: left;
  justify-content: left;
  float: top;
  border-radius: 4px;
  background-color: white;
  margin: 0px auto;
  border: 4px solid #fbb040;
  font-size: 25px;
  line-height: 35px;
  font-weight: bold;
  letter-spacing: 0.25px;
  color: black;
  padding: 7.5px;
  margin-top: -10px;
  text-align: center;
}
.footer {
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  width: 450px;
  background-color: #fab140;
  height: 60px;
  font-size: 17px;
  font-weight: 700;
}
.username,
.password {
  font-size: 20px;
  padding: 10px;
}
.userLabel,
.passLabel {
  font-size: 30px;
}
@media (min-width: 320px) and (max-width: 500px) {
  .login {
    width: 300px;
  }
  .footer {
    width: 300px;
  }
}

form {
  margin-top: -40px;
}
