.bigone {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.GameTitle {
  color: white;
  justify-content: center;
  font-weight: 900;
  font-size: 50px;
  color: #fbb040;
}
.logintitle {
  margin-top: 10px;
  border-radius: 5px;
  height: 75px;
  width: 450px;
  background-color: #fab140;
}
.title {
  border-radius: 5px;
  text-align: center;
}
/* 465 */
.login {
  border-radius: 5px;
  text-align: center;
  margin-left: 2px;
  width: 400px;
  height: 400px;
  background-color: #00b0ad;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.btnlog {
  align-items: left;
  justify-content: left;
  float: top;
  border-radius: 4px;
  background-color: white;
  margin: 0px auto;
  border: 4px solid #fbb040;
  font-size: 20px;
  line-height: 2px;
  font-weight: bold;
  letter-spacing: 0.25px;
  color: black;
  padding: 7.5px;

  text-align: center;
}
.footer {
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  width: 450px;
  background-color: #fab140;
  height: 50px;
}
.username,
.password {
  font-size: 20px;
  padding: 10px;
}
.nin,
.nin1 {
  font-size: 25px;
}
